@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.AddOnSelector {
    width: 75vw;
    height: 32vh;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 4rem;

    @media (max-width: 1366px) {
        min-height: 380px;
        width: 90%;
    }

    @media (max-width: 1100px) {
        min-height: 350px;
        width: 100%;
        margin-top: 2rem;

    }
}