@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.OrderList {
    width: 90vw;
    height: 71vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    overflow: scroll;
    box-sizing: border-box;
}