@import '../../assets/styles/colors';
@import '../../assets/styles/utils';

.Header {
    width: 100%;
    height: $margin-top-header;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: absolute;

    &__logo {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3rem;

        @media (max-width: 375px) {
            padding: 0 0.5rem;
            height: 80%;
        }

        a {
            height: 70%;
        }

        img {
            height: 100%;
        }
    }

    &__googleLogin {
        width: 245px;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3rem;
        position: relative;
    }

    &__account {
        display: flex;
        align-items: center;
    }
}